@use "global" as *;

.page-campaign {
}

.page-campaign__inner {
}

.inner {
}

.page-campaign__category-wrap {
  margin-top: 2.8rem;
}

.page-campaign__wrap {
  margin-top: 2.4rem;
}

.page-campaign__cards {
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2.3rem;
}

.campaign__card {
}

.campaign__imgs {
}

.campaign__img {
}

.campaign__contents {
}

.campaign__box {
}

.campaign__tag {
}

.campaign__category {
}

.campaign__description {
}

.campaign__container {
}

.campaign__text {
}

.campaign__price-wrap {
}

.campaign__price-out {
}

.campaign__price-in {
}
