@use "global" as *;
.voice {
  margin-top: 5.1rem;
  @include mq("md") {
    margin-top: 8.49rem;
    position: relative;
  }
}
.voice__cards {
  margin-top: 3rem;
}
.voice__title {
  color: $black;
}
.voice__visual-left {
  @include mq("md") {
    content: "";
    display: block;
    left: calc(50% - min(33%, 29.1rem));
    position: absolute;
    top: -17%;
    text-align: left;
    transform: translate(-50%);
  }
}
.voice__visual-right {
  @include mq("md") {
    bottom: -12%;
    content: "";
    display: block;
    position: absolute;
    right: calc(50% - min(50%, 36.2rem));
    text-align: right;
    transform: translate(-50%);
  }
}
.voice__visual-item {
  @include mq("md") {
    display: inline-block;
    max-width: 4.4375rem;
    width: 100%;
  }
}
.voice__btn-wrap {
  margin-top: 2.5rem;
  text-align: center;
  @include mq("md") {
    margin-top: 5rem;
  }
}
